body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

a:hover {
  color: black;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 10px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  margin-left: 10px;;
  height: 135px;
  border-radius: 25px;
  margin: 10px;
  border-style: solid;
}

/* app container */

.nav-app-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.app-container {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}

.app-container-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.app-container-info > div > span:first-child {
  font-weight: bold;
  margin-right: 5px;
}
.app-container-info > div > span:nth-child(2) {
  color: #969696;
  font-size: 16px;
}
.app-container-info > div > div {
  color: #969696;
  font-size: 15px;
}
.app-container-info > div > p {
  font-size: 18px;
  margin: 10px 0;
}
.app-container-icons {
  display: flex;
  align-items: center;
}
.app-container-icons > span {
  color: #969696;
  margin: 0 15px 0 5px;
  font-size: 18px !important;
}
.app-container-icon {
  font-size: 27px;
  color: #697784;
}
.app-container-icon:hover {
  color: #00b5d6;
  cursor: pointer;
}
.replying-to {
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  color: #969696;
  cursor: pointer;
}

.heart-button {
  background: transparent;
  border: none;
}

.new-app-container {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  font-size: 15px;
  height: 100px;
}

.app-container-length {
  text-align: right;
  margin-top: 10px;
  font-size: 20px;
  color: #C3392A;
}

.app-container-list {
  border-radius: 10px;
  border: solid #7f7f87;
  padding: 30px;
  margin-top: 10px;
  margin-bottom:10 px;
}

/* Home Page */
.app-container-list-home {
  border-radius: 10px;
  border: solid #7f7f87;
}

.app-container-list-home:hover {
  border-radius: 10px;
  border: solid #1a1a1b;
}

.app-container-list-avatar {
  border-right: solid #7f7f87;
  padding: 30px;
  margin-bottom:10 px;
}

.app-container-list-content {
  padding: 30px;
  margin-bottom:10 px;
}


/* Home Page */
.app-container-component {
  border-radius: 0.5px;
}

/* app container */